* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }

 * a{
   text-decoration: none;
 }

 body{
  font-family: 'Roboto', sans-serif;
  color: #33475B;
  font-weight: 500;
 }



.clearfix::after {
 content: "";
 display: table;
 clear: both;
 }

.container{
 width: 80%;
 margin: auto;
}

.container-small{
 width: 62%;
 margin: auto;
}

 /* bottoni */

.btn{
 display: inline-block;
 border-radius: 5px;
 line-height: normal;
  padding: 8px 8px;
}

.btn-orange{
 color: #fff;
 background-color: #FE775A;
}

.btn-orange:hover{
  background-color: #ffbcac;
}

.btn-orange-large{
 padding: 18px 35px;
}

.btn-transparent{
 color: #FE775A;
 border: 1px solid #FE775A;
 background-color: transparent;
}

.btn-transparent:hover{
  background-color: #fff1ee;
}

#btn-white{
 color: #32495B;
 background-color: #fff;
 padding: 10px 10px;
 /* background-color: #dadee0; */
 margin: 15px 0;
}

#btn-white:hover{
  background-color: #eaf0f6;
}

.text-color-blue:hover{
  color: #7fd1de;
}


header{

 }

.header-top{
  margin-top: 57px;
 height: 57px;
}

/* barra navigazione superiore */
.nav-top{
  position: fixed;
  top: 0;
  width: 100%;
 height: 56px;
 z-index: 1;
 background-color: #F4F9FD;
 border-bottom: 1px solid #000;
 line-height: 56px;
 font-size: 14px;
}

.header-top ul{
  list-style: none;
}

.header-top ul li{
  display: inline-block;
  color: #33475B;
}

.header-top li a{
 text-decoration: none;
 margin: 0 10px;
}


.nav-top .nav-left{
  float: left;
  width: 50%;
  height: 56px;
  color: #000;
}

.nav-top .nav-left  li a{
 color: #33475B;
 font-size: 14px;
}
.nav-top .nav-left  li a:last-child{
 border-left: 1px solid #33475B;
 padding-left: 10px;
}

.nav-top .fa-globe-europe{
  font-size: 12px;
}

.nav-top .fa-angle-down{
  font-size: 12px;
}

.nav-top .nav-right{
  float: left;
  width: 50%;
  height: 56px;
  text-align: right;
}

.nav-right .menu-inline a:last-child{
  margin-right: 0;
}

#logo-search{
  color: #46BCCF;
  font-size: 12px;
}



/* barra navigazione inferiore */
.nav-bottom{

  height: 56px;
  background-color: #FFF;
}

.nav-bottom .nav-left{
  float: left;
}

.nav-bottom .nav-right{
  float: right;
  text-align: right;
  line-height: 56px;
  font-size: 14px;
}

.nav-bottom .nav-right li a{
  margin-right: 10px;
  color: #33475B;
}

#img-logo{
  margin-top: 13px;
}


#img-logo a{
  margin: 0;
}

/* inizio banner */

.banner{
  height: 600px;
  background-color: #FFF2EF;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 106% 0%;
  background-size: 1400px;
}

.banner-text{
  width: 58%;
  padding-top: 50px;
}

.banner-text h1{
  font-size: 55px;
  margin-bottom: 20px;
}

.banner-text p{
  width: 80%;
  margin-bottom: 20px;
  line-height: 30px;
}

.banner-text a{
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 20px;
}

.banner-text h6{
  font-size: 12px;
}

.header-divider{
  height: 60px;
  background-color: #AFEBE4;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;
}

/* inizio corpo centrale */
main{
  background-color: #F4F9FD;
}

.banner-powerful{
  text-align: center;
  margin-bottom: 30px;
}

.banner-powerful img{
  height: 220px;
  padding-top: 40px;
}

.banner-powerful h2{
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 20px;
}

.banner-powerful p{
  line-height: 25px;
}

.box{
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px #cecece;
}

.box-info{
  height: 350px;
  padding: 80px 90px;
  margin-bottom: 40px;
  text-align: center;
}

.box-info .col-sx, .box-info .col-dx{
  float: left;
}

.box-info .col-sx{
  width: 20%;
}

.box-info .col-sx img{
  height: 100px;
  margin-bottom: 15px;
}


.box-info .col-dx{
  width: 75%;
  margin-left: 5%;
  text-align: left;
}

.box-info .col-dx ul{
  list-style: none;
}
.box-info .col-dx ul li{
  display: inline-block;
}

.box-info .col-dx h3{
  font-size: 25px;
  margin-bottom: 20px;
}

.box-info .col-dx p{
  line-height: 28px;
  margin-bottom: 15px;
}

.box-info .col-dx h4{
  width: 28%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  vertical-align: text-top;
}

.box-info .col-dx hr{
  display: inline-block;
  width: 65%;
  margin-left: 5%;
  vertical-align: middle;
}

.box-info .col-dx .text-hr{
  margin-bottom: 30px;
}

.box-info .col-dx .icon-check{
  margin: 0 15px;
}

.box-info .col-dx ul li:first-child span{
  margin-left: 0;
}

.box-info .col-dx ul li .fa-check-circle{
  color: #FE775A;
}



/* tre colonne */

.col-info{
  margin-bottom: 40px;
}

.col-info .box{
  float: left;
  width: 30%;
  height: 600px;
  text-align: center;
  padding: 30px;

}

.box-center{
  margin: 0 5%;
}

.col-info .box:last-child{
  float: right;
}

.col-info img{
  height: 100px;
  margin-bottom: 25px;
}
.col-info h3{
  font-size: 25px;
  margin-bottom: 25px;
}

.col-info p{
  font-size: 14px;
  min-height: 100px;
  line-height: 25px;
  margin-bottom: 25px;
}

.col-info hr{
  margin-bottom: 25px;
}

.col-info h4{
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 25px;
}

.col-info ul{
  list-style: none;
  text-align: left;
}

.col-info ul li .fa-check-circle{
  color: #FF7A59;
  margin-right: 10px;
}
.col-info ul li:last-child{
  margin-bottom: 50px;
}

/* sezione verde gradiente */

.home-comunity{
  height: 600px;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: #fff;
  text-align: center;
}

.home-comunity h2{
  margin: auto;
  padding: 30px 0;
  width: 90%;
  font-size: 30px;
}

.home-comunity p{
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 25px;
}

.box-gradient-container{
  height: 320px;
}

.box-gradient{
  float: left;
  width: 25%;
  min-height: 160px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.box-gradient:nth-child(4n+4){
  border-right: none;
}
.box-gradient:nth-child(n+5){
  border-bottom: none;
}

.box-gradient-margin{
  margin-top: 12px;
}

.comunity-numbs{
  position: relative;
  font-size: 40px;
  font-weight: bold;
}

.comunity-numbs span{
  display: inline-block;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 5px;
}

/* inizio HSF */

.hsf-section{
  height: 650px;
}

/* inizio HSF sinistra */
.col-hsf-left{
  float: left;
  width: 40%;
}

.info-hsf-left-top{
  width: 210px;
  margin: auto;
}

.col-hsf-left h2{
  font-size: 45px;
  padding-top: 40px;
}

.col-hsf-left .p-top{
  padding: 20px 0;
  line-height: 27px;
  width: 90%;
}

.col-hsf-left > h2{
  font-size: 33px;
  padding: 40px 0;
}

.info-hsf-left-center{
  line-height: 27px;
  padding-bottom: 40px;
}

.p-small{
  font-size: 12px;
  padding-top: 40px;
}

/* sezione HSF destra */

.col-hsf-right{
  float: left;
  width: 56%;
  height: 600px;
  background-image: url(../img/woman.webp);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: bottom right;
}



.row-partners{
  width: 600px;
  height: 200px;
  margin-top: 50px;
}

.banner-partners-wrapper{
  position: relative;
  float: left;
  width: 150px;
  height: 60px;
  text-align: center;
}

.banner-partners-wrapper img{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 10%;
}

.img-size{
  max-height: 100%;
  width: 100%
}

.logo-chinese{
  height: 450px;
}

footer{
  height: 600px;
  background-color: #32495B;
}

.col-footer-list{
  padding: 30px 0 40px 0;
}

.col-footer-list > ul{
  float: left;
  width: 25%;
  list-style: none;
}

.col-footer-list > ul li{
  line-height: 35px;
}

.col-footer-list > ul > li:first-child{
  color: #fff;
  line-height: 50px;
}

.col-footer-list ul a{
  color: #C1D3E2;
  text-decoration: none;
}

.footer-social li{
  display: inline-block;
  margin-right: 20px;
}



/* inizio list countries */

.list-countries{
  text-align: center;
  margin-bottom: 20px;
}

.nav-countries ul{
  list-style: none;
}
.nav-countries li{
  display: inline-block;
}

.nav-countries a{
  text-decoration: none;
  margin: 0 10px;
  color: #C1D3E2;
  font-size: 18px;
}

/* fine list countries */

.footer-copyright{
  border-top: 1px solid #7c98b6;
  padding-top: 35px;
  color: #C1D3E2;
}

.footer-copyright-col-left{
  float: left;
}
.footer-copyright-col-left img{
  margin-bottom: 10px;
}
.footer-copyright-col-left p{
  font-weight: lighter;
  font-size: 14px;
}

.footer-copyright-col-right{
  float: right;
  margin-top: 10px;
}
.footer-copyright-col-right ul{
  list-style: none;
}
.footer-copyright-col-right li{
  display: inline-block;
  margin-right: 20px;
}
.footer-copyright-col-right a{
  text-decoration: none;
  color: #C1D3E2;
  font-weight: bold;
  font-size: 18px;
}

/* pop-up */

.pop-up{
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 0;
  width: 300px;
  height: 250px;
}

.chat-screen{
  position: relative;
  width: 100%;
  height: 50%;
  border-radius: 5px;
  padding: 25px;
  background-color: #fff;
}

.icon-exit{
  text-align: right;
}

.chat-screen-text{
  line-height: 25px;
}

.chat-close-icon{
  color: #7c98b6;
  font-size: 18px;
}

.robot-img{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.robot-img img{
  height: 54px;
}

.chat-bottom{
  text-align: right;
  margin-top: 20px;
}

.icon-chat{
  position: relative;
  display: inline-block;
  background-color: #425b76;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  vertical-align: middle;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
}

.fa-comment-alt{
  color: #fff;
}

#first-chat-logo{
  display: inline-block;
  position: absolute;
  left: 53%;
  top: 46%;
  transform: translate(-50%, -50%);
  /* z-index: 0; */
}

#second-chat-logo{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #425b76;
  /* z-index: 0; */
}

#third-chat-logo{
  display: inline-block;
  position: absolute;
  left: 47%;
  top: 53%;
  transform: translate(-50%, -50%);
}
