* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }

 body{
  font-family: 'Roboto', sans-serif;
  color: #33475B;
  font-weight: 500;
 }

.clearfix::after {
 content: "";
 display: table;
 clear: both;
 }

 .container{
   width: 80%;
   margin: auto;
 }

 .container-small{
   width: 62%;
   margin: auto;
 }

 .btn{
   border-radius: 5px;
   padding: 8px 10px;
   text-decoration: none;
 }

 .btn-orange{
   color: #fff;
   background-color: #FF7A59;
 }

 .btn-orange-large{
   padding: 18px 35px;
   display: inline-block;
 }

 .btn-white{
   color: #FF7A59;
   border: 1px solid #FF7A59;
   background-color: transparent;
 }

header{

 }

.header-top{
 height: 114px;
}

/* barra navigazione superiore */
.nav-top{
 height: 56px;
 background-color: #F4F9FD;
 border-bottom: 1px solid #000;
 line-height: 56px;
 font-size: 14px;
}

.header-top ul{
  list-style: none;
}

.header-top ul li{
  display: inline-block;
  color: #33475B;
}

.header-top li a{
 text-decoration: none;
 margin: 0 10px;
}


.nav-top .nav-left{
  float: left;
  width: 50%;
  height: 56px;
  color: #000;
}

.nav-top .nav-left  li a{
 color: #33475B;
 font-size: 14px;
}
.nav-top .nav-left  li a:last-child{
 border-left: 1px solid #33475B;
 padding-left: 10px;
}

.nav-top .fa-globe-europe{
  font-size: 12px;
}

.nav-top .fa-angle-down{
  font-size: 12px;
}

.nav-top .nav-right{
  float: left;
  width: 50%;
  height: 56px;
  text-align: right;
}

#logo-search{
  color: #46BCCF;
  font-size: 12px;
}



/* barra navigazione inferiore */
.nav-bottom{
  height: 56px;
  background-color: #FFF;
}

.nav-bottom .nav-left{
  float: left;
}

.nav-bottom .nav-right{
  float: right;
  text-align: right;
  line-height: 56px;
  font-size: 14px;
}

.nav-bottom .nav-right li a{
  margin-right: 10px;
  color: #33475B;
}

#img-logo{
  margin-top: 13px;
}


#img-logo a{
  margin: 0;
}

.banner{
  height: 500px;
  background-color: #FFF2EF;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 106% 0%;
  background-size: 1167px;
}

.banner-text{
  width: 58%;
  padding-top: 50px;
}

.banner-text h1{
  font-size: 60px;
  margin-bottom: 20px;
}

.banner-text p{
  margin-bottom: 20px;
}

.banner-text a{
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 20px;
}

.banner-text h8{
  font-size: 12px;
}

.header-divider{
  height: 60px;
  background-color: #AFEBE4;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;
}

/* inizio corpo centrale */
main{
  background-color: #F4F9FD;
}

.banner-powerful{
  height: 350px;
  text-align: center;
}

.banner-powerful img{
  height: 200px;
  padding-top: 40px;
}

.banner-powerful h2{
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 20px;
}

.box{
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px #cecece;
}

.box-info{
  height: 350px;
  padding: 80px 90px;
  margin-bottom: 40px;
  text-align: center;
}

.box-info .col-sx, .box-info .col-dx{
  /* padding-right: 100px; */
  float: left;
}

.box-info .col-sx{
  width: 20%;
}

.box-info .col-sx img{
  height: 100px;
  margin-bottom: 15px;
}


.box-info .col-dx{
  width: 75%;
  margin-left: 5%;
  text-align: left;
}

.box-info .col-dx ul{
  list-style: none;
}
.box-info .col-dx ul li{
  display: inline-block;
}

.box-info .col-dx h3{
  font-size: 25px;
  margin-bottom: 20px;
}

.box-info .col-dx p{
  line-height: 28px;
  margin-bottom: 15px;
}

.box-info .col-dx h4{
  width: 28%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  vertical-align: text-top;
}

.box-info .col-dx hr{
  display: inline-block;
  width: 65%;
  margin-left: 5%;
}

.box-info .col-dx .text-hr{
  margin-bottom: 30px;
}

.box-info .col-dx .icon-check{
  margin: 0 15px;
}

.box-info .col-dx ul li:first-child span{
  margin-left: 0;
}

.box-info .col-dx ul li .fa-check-circle{
  color: #FF7A59;
}



/* tre colonne */

.col-info{
  margin-bottom: 40px;
}

.col-info .box{
  float: left;
  width: 30%;
  height: 600px;
  text-align: center;
  padding: 30px;

}

.box-center{
  margin: 0 5%;
}

.col-info .box:last-child{
  float: right;
}

.col-info img{
  height: 100px;
  margin-bottom: 25px;
}
.col-info h3{
  font-size: 25px;
  margin-bottom: 25px;
}

.col-info p{
  font-size: 14px;
  min-height: 100px;
  line-height: 25px;
  margin-bottom: 25px;
}

.col-info hr{
  margin-bottom: 25px;
}

.col-info h4{
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 25px;
}

.col-info ul{
  list-style: none;
  text-align: left;
}

.col-info ul li .fa-check-circle{
  color: #FF7A59;
  margin-right: 10px;
}
.col-info ul li:last-child{
  margin-bottom: 50px;
}

/* sezione verde gradiente */

.home-comunity{
  height: 600px;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: #fff;
  text-align: center;
}

.home-comunity h2{
  margin: auto;
  padding: 30px 0;
  width: 90%;
  font-size: 30px;
}

.home-comunity p{
  font-size: 14px;
  margin-bottom: 30px;
}

.box-gradient-container{
  height: 320px;
}

.box-gradient{
  float: left;
  width: 25%;
  height: 160px;
  display: inline-block;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.box-gradient:nth-child(4n+4){
  border-right: none;
}
.box-gradient:nth-child(n+5){
  border-bottom: none;
}

.box-gradient-margin{
  margin-top: 12px;
}

.comunity-numbs{
  font-size: 40px;
  font-weight: bold;
}

.comunity-numbs span{
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 25px;
}

/* inizio HSF */

.hsf-section{
  height: 650px;
}

/* inizio HSF sinistra */
.col-hsf-left{
  float: left;
  width: 44%;
}

.info-hsf-left-top{
  width: 210px;
  margin: auto;
}

.col-hsf-left h2{
  font-size: 45px;
  padding-top: 40px;
}

.col-hsf-left .p-top{
  padding: 20px 0;
  line-height: 27px;
  width: 90%;
}

.col-hsf-left > h2{
  font-size: 33px;
  padding: 40px 0;
}

.info-hsf-left-center{
  line-height: 27px;
  padding-bottom: 40px;
}

.p-small{
  font-size: 12px;
  padding-top: 40px;
}

/* sezione HSF destra */

.col-hsf-right{
  float: left;
  width: 56%;
  height: 600px;
  background-image: url(../img/woman.webp);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: bottom right;
}



.row-partners{
  width: 600px;
  margin-top: 50px;
  margin-left: 30px;
  background-color: green;
}

.banner-partners-wrapper{
  float: left;
  width: 150px;
  padding: 20px;
  text-align: center;
  vertical-align: baseline;
}

.img-size{
  max-height: 100%;
  width: 100%
}

.logo-chinese{
  background-color: blue;
  height: 450px;
}













footer{
  background-color: #32495B;
}
